.cards-block {
    display: flex;
    padding: 15px;
}

.card-block {
    width: 100px;
    min-height: 30px;
    background-color: aquamarine;
    border-radius: 4px;
    padding: 5px;
    display: flex;
    margin-right: 10px;
    flex-direction: column;
    align-items: center;
}
